/.project
/README.md~
/classes/simulation.m~
/classes/interval.m~
/examples/run_fit.m~
/examples/create_fake_data.m~
/examples/exp_data*
/examples/results.mat
/examples/results_ML.mat
/functions/fit_algorithm.m~