/.project
/README.md~
/classes/simulation.m~
/classes/interval.m~
/examples/fitting.m~
/examples/synth_kev_simFIT.mat
/examples/synthetic_data.m~
/examples/exp_data*
/examples/results.mat
/examples/results_ML.mat
/scripts/fitfunc.m~